/* MAIN CSS */

@font-face {
  font-family: 'Marsden Slim';
  src: local('Marsden Slim SemiBold'), local('Marsden-Slim-SemiBold'),
      url('../font/Marsden-S-SemiBold.woff2') format('woff2'),
      url('../font/Marsden-S-SemiBold.woff') format('woff'),
      url('../font/Marsden-S-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

select {
  display:block;
}

body {
  background-color: black;
  width:100vw;
  height:100vh;
  color: white;
  overflow: hidden;
  font-family:'Marsden Slim','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
  width:100vw;
  height:100vh;
}
#loading {
  position: absolute;
  z-index: 10;
  width:100vw;
  height:100vh;
}

#landscape {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  
}
input {
  color: white;
}
textarea {
  color: white;
  border: 1px solid #FF6E00;
  height: 5vw;
  max-height:8.88vh;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #FF6E00;
}
button {
  background-color: transparent;
  -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -o-transition:background 1s;
    transition:background 1s;
  outline: none;
  color:white;
  border: 1px solid #FF6E00;
  padding: 0.4vw;
  border-radius: 5px;
}
.delete {
  border: 1px solid #FF0000;
  float: right;
}
.buttonAdmin:hover {
  background: #FF6E00;
}
.delete:hover {
  background: #FF0000;
}
.buttonMessages {
  width: 5vw;
  max-width:8.88vh;
}
.buttonMessagesSecondary {
  width: 5vw;
  max-width:8.88vh;
  margin-left: 0.4vw;
}
.handleMessage {
  width: 5vw;
  max-width:8.88vh;
}
.selectTra {
  color: white;
  border: 0px;
  border-bottom: 1px solid #FF6E00;
  background: none;
  margin-bottom: 8px;
  padding: 0; 
}
.selectTra option {
  color:black;
}
.selectTra:focus {
  outline: none;
  
}

/* CSS FOR CONSOLE */
#consoleDiv {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 600px;
  height: 300px;
  z-index: 9;
  border: 1px solid #FF6E00;
  /*border: 1px solid #675288;*/
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  display:flex;
  flex-direction: column;
  
}
#consoleDivheader {
  width: 598px;
  height: 20px;
  z-index: 10;
  background-color: #FF6E00;
  /*background-color: #675288;*/
  outline: none;
}
#textArea {
  overflow: hidden;
  width: 550px;
  padding-left: 5px;
  padding-top: 5px;
  height:254px;
  overflow: scroll;
  overflow-x: hidden;
}
/*
#consoleInfo {
  display:inline-block;
  width:190px;
  height: 20px;
  border-top: 1px solid #FF6E00;
  font-size: 18px;
  padding-top:3px;
  padding-left:5px;
}
*/
#consoleInput {
  width: 593px;
  height: 20px;
  padding-left: 5px;
  border-top: 1px solid #FF6E00;
  border-bottom: 0px!important;
  /*border-top: 1px solid #675288;*/
  background-color: transparent;
  color: white;
}

input {
  outline:0;
}
input:focus {
  outline:none!important;
  -webkit-appearance:none;
}

#reddot {
  width: 15px;
  margin-left: 5px;
  margin-top: 2px;
}

/* CSS FOR NAVIGATION BAR */

#navbar {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  position: absolute;
  width: 80vw;
  max-width: 142.21vh;
  height: 3vw;
  max-height: 5.33vh;
  /*padding: 0.25vw 0.05vw 0px;*/
  padding: 0.25% 0.05% 0%;
  top: 5.33%;
  left: 10%;
  font-size: min(2vw, 3.55vh);
  border-bottom: 1px solid #FF6E00;
  /*border-bottom: 1px solid #675288;*/
  /*border-bottom: rgb(63,94,251);
  border-bottom: linear-gradient(347deg, rgba(63,94,251,1) 0%, rgba(252,70,70,1) 100%);*/
}
#imgnav {
  float: right;
  text-align: right;
  height: 3vw;
  max-height: 5.33vh;
  width: 20vw;
  max-width: 35.554vh;
}
#users {
  width: 2vw;
  max-width: 3.54vh;
}
#messages {
  width: 2vw;
  max-width: 3.54vh;
  margin-left: 5%;
}
#console {
  width: 2vw;
  max-width: 3.54vh;
  margin-left: 5%;
}
#fulls {
  width: 2vw;
  max-width: 3.54vh;
  margin-left: 5%;
}
#logout {
  width: 2vw;
  max-width: 3.54vh;
  margin-left: 5%;
}

/* CSS FOR CONTENT */

#content {
  width: 100vw;
  max-width: 177.77vh; /* be ready to adapt everything tomorrow */
  /* The height is set to 56.25 width to preserve the 16:9 format at all times */
  height: 56.25vw;
  max-height: 100vh;
  position: relative;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  background-image: url("../icons/starsbackground.jpg");
  background-size: cover;
}
.invis {
  opacity:0;
}

/* CSS FOR INFO PART ON THE RIGHT */

#info {
  position: absolute;
  display:flex;
  top: 17.77%;
  right: 20%;
  width: 60vw;
  max-width: 106.66vh;
  font-size: min(0.7vw, 1.24vh);
  height: 30vw;
  max-height: 53.33vh;
}

#infoleft {
  width: 18vw;
  max-width: 32vh;
  height: 30vw;
  max-height: 53.33vh;
  border: 1px solid #FF6E00;
  padding: min(1vw, 1.77vh);
}

#infoleftInner {
  height:100%;
  overflow: hidden;
  display:flex;
  flex-direction:column;
}

.titleInfo {
  font-size: min(2vw, 3.55vh);
}
.textInfo {
  font-size: min(1vw, 1.77vh);
  margin-bottom: min(1vw, 1.77vh);
}

#infocentre {
  margin-left: min(3vw, 5.33vh);
  width: 18vw;
  max-width: 32vh;
  height: 30vw;
  max-height: 53.33vh;
  border: 1px solid #FF6E00;
  padding: min(1vw, 1.77vh);
  display: flex;
}

#infocentreInner {
  height:100%;
  width:100%;
  overflow: hidden;
  display:flex;
  flex-direction:column;
}

.messageRow {
  overflow: scroll;
  overflow-x: hidden;
  width:100%;
  margin-bottom:0;
}

.objectInfo {
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom:1px;
  margin-bottom:0px;
}
.objectLast {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom:0;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


#inforight {
  margin-left:min(3vw, 5.33vh);
  display: flex;
  width: 18vw;
  max-width: 32vh;
  height: 30vw;
  max-height: 53.33vh;
  border: 1px solid #FF6E00;
  padding: min(1vw, 1.77vh);
}

#inforightInner {
  height:100%;
  overflow: hidden;
  display:flex;
  flex-direction:column;
}

.logRow {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom:0;
}

.messageRow {
  margin-bottom: min(1vw, 1.77vh);
}

.logRow {
  margin-bottom: min(1vw, 1.77vh);
}

.row {
  margin-bottom: min(1vw, 1.77vh);
  width: 16vw;
  max-width: 28.44vh;
}

.rowTitle {
  vertical-align:middle;
  height:1vw;
  max-height: 1.77vh;
  font-size:  min(0.8vw, 1.42vh);
}
.rowIcon {
  float:right;
  max-height: 1.77vh;
  height: 1vw;
  max-height: 1.77vh;
}
.rowText {
  overflow: hidden;
  font-size:  min(1.2vw, 2.13vh);
  text-overflow: ellipsis; 
  white-space: nowrap;
}
.rowTextFull {
  font-size:  min(1.2vw, 1.42vh);
}
.rowFooter {
  font-size:  min(0.8vw, 1.42vh);
}
/*#infoMessages {
  width:16vw;
  position:absolute;
  top:10vw;
  height: 19vw;
}

#infoLogs {
  width:16vw;
  position:absolute;
  top:10vw;
  height: 19vw;
}*/
/* CSS FOR BOXES BELOW PLANET */

#additional {
  position: absolute;
  top: 80%;
  height: 6vw;
  max-height: 10.66vh;
  width: 60vw;
  max-width: 106.66vh;
  left: 20%;
  display: flex;
}
.additionalComp {
  -webkit-transition:background 1s;
  -moz-transition:background 1s;
  -o-transition:background 1s;
  transition:background 1s;
  height:6vw;
  max-height: 10.66vh;
  width: 13.25vw;
  max-width: 23.55vh;
  border: 1px solid #FF6E00;
}
.additionalComp:hover {
  background-color:#FF6E00;
}
#add2 {
  margin-left: min(2.5vw,4.44vh);
}
#add3 {
  margin-left: min(2.5vw,4.44vh);
}
#add4 {
  margin-left: min(2.5vw,4.44vh);
}

.addtit {
  width: 100%;
  padding-left: min(1vw,1.77vh);
  padding-top: min(0.7vw,1.24vh);
  height: 2vw;
  max-height: 3.55vh;
  font-size: min(1vw,1.77vh);
  color: #B0B0B0;
  font-weight: bold;
}

.addtxt {
  font-size: min(2vw,3.55vh);
  width: 100%;
  padding-left: min(1vw,1.77vh);
  height: 4vw;
  max-height: 7.1vh;
}


input {
  outline:0;
}
input:focus {
  outline:none!important;
  -webkit-appearance:none;
}

#reddot {
  width: 15px;
  margin-left: 5px;
  margin-top: 2px;
}

/* USED PREVIOUSLY, DO NOT USE 
#infoleft {
  
  position: absolute;
  top: 10.5vw;
  left: 10vw;
  font-size: 1vw;
  width: 20vw;
  height: 35vw;
  
}
#titleLeft {
  display: flex;
  align-items: center;
  border: 1px solid #FF6E00;
  border: 1px solid #675288;
  width:20vw;
  height: 3vw;
  font-size: 1.5vw;
  z-index:0;
  border-radius: 10px;
}
#minimize {
  height: 1.8vw;
  width: 1.8vw;
  margin-left: 10px;
}
#about {
  margin-left: 10px;
}
#contentLeft {
  background-color:rgba(67,52,88,0.4);
 
  width:20vw;
  height:31.99vw;
  border-radius: 10px;
}   display: inline-block;
*/

/* USED PREVIOUSLY
#music {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  position: absolute;
  width: 80vw;
  height: 3vw;
  bottom: 3vw;
  font-size: 1vw;
  left: 10vw;
  border: 1px solid #FF6E00;
  /* border: 1px solid #675288;
}
#musictitle {
  width: 10vw;
  margin-left: 2vw;
  height: 1vw;
  position: relative; 
  top: 1.1vw;
}
#musicname {
  text-align: center;
  position: relative;
  left: 29vw;
  width: 20vw;
  top: 0.1vw;
  height: 1vw;
}
#musiccontrols {
  height: 1vw;
  text-align: right;
  float: right;
  position: relative;
  top: -1.25vw;
  width: 20vw;
  margin-right: 2vw;
}


#previous {
  height: 1vw;
}
#pauseplay {
  height: 1vw;
}
#next {
  height: 1vw;
}
#volume {
  position: relative;
  top: -0.4vw;
  height: 0.2vw;
  width: 5vw;
  
}
#volume::-webkit-slider-thumb {
  background: white;
  height: 1vw;
}
#volume::-moz-range-thumb {
  background: white;
  height: 1vw;
}

#ctl {
  max-width:100%;
}
*/

/* UNCOMMENT IF SOMETHING GOES WRONG
*,
*:before,
*:after {
box-sizing: inherit;
padding: 0;
}
body {
height: 100%;
overflow: hidden;
}
*/

/*
.top-layer {
position: absolute;
width: 100%;
height: 100%;
top: -100%;
left: 0;
bottom: auto;
right: auto;
background: #FF6E00;
transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
font-size:20vw;
color:black;
text-align: center;
}
.top-layer.active {
top: 100%;
}
.top-layer--2 {
background: #FF6E00;
transition-delay: 0.4s;
}
.top-layer--3 {
background: #FF6E00;
transition-delay: 0.3s;
}
.top-layer--4 {
background: #FF6E00;
transition-delay: 0.2s;
}
.top-layer--5 {
background: #FF6E00;
transition-delay: 0.1s;
}*/

/* TRANSITION LAYERS */

.top-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  bottom: auto;
  right: auto;
  background: black;
  transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
  font-size:20vw;
  color: #FF6E00;
  /*color: #675288;*/
  text-align: center;
}
.top-layer.active {
  top: 100%;
}
.top-layer--2 {
  background: black;
  transition-delay: 0.4s;
}
.top-layer--3 {
  background: black;
  transition-delay: 0.3s;
}
.top-layer--4 {
  background: black;
  transition-delay: 0.2s;
}
.top-layer--5 {
  background: black;
  transition-delay: 0.1s;
}

/**
@media screen and (orientation: landscape) {
  #portrait {
      display: none;
  }
  #landscape {
      display: flex;
  }
}

@media screen and (orientation: portrait) {
  #portrait {
      display: flex;
  }
  #landscape {
      display: none;
  }
}*/

.redall {
  color: red;
}
.yellowall {
  color: yellow;
}